.button {
  text-transform: uppercase;
  border-radius: 2rem;
  height: 2.1rem;

  &:hover {
    cursor: pointer;
  }

  &--black {
    color: white;
    background-color: #111010;
    border: 1px solid white;
    width: 100%;
    margin-top: 1.1rem;

  }

  &--green {
    color: white;
    background-color: #0CAE73;
    border: none;
    padding: 0 2rem;
  }

  &--blue {
    color: white;
    background-color: #0956AE ;
    border: none;
    padding: 0 2rem;
  }

}