.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-rows: repeat(5 , 290px);
  grid-gap: 10px;

  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: #181616;
  box-sizing: border-box;
}
