.side-nav {

  grid-column: side-nav-bar-start / main-content-column-start;
  grid-row: main-content-row-start / footer-start;
  background-color: #080808 ;

  & > * {
    padding-left: 1.7rem;
  }

  &__dots-container {
    margin: 1.5rem 0;
  }

  &__main-nav-tab-container {
    margin-bottom: 1rem;
  }

  &__text {
    color: #988989 ;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #E1D7D7 ;
    }

    &--active {
     color: #FFF;
    }
  }

  &__header {
    color: #988989;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
    margin-top: 1rem;

    &:hover {
      cursor: default;
    }
  }

  &__add-playlist-container {
    margin-top: auto;
    border-top: 1px #988989 solid;
  }

  &__second-nav-container >  &__text {
    margin-bottom: 0.6rem;
  }

  &__add-playlist-text-container {
    margin: 1rem 0;
  }

  &__image {
    width: 25px;
    height: 25px;
    margin-right: 1rem;

    &--add {
      margin-right: 0.5rem;
      width: 28px;
      height: 28px;
    }
  }
}