.find-friends {
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  opacity: 0;
  transition:  opacity 0.6s;

  &__content {
    background-color: #161515;
    height: 400px;
    width: 520px;
    transition: margin-top 3s ease-in-out;
    transition:  opacity 1s;
    margin-top: -50px;
    opacity: 0;

  }

  &__text {
    color: #EDEEE9;

    &--xl-large {
      font-size: 2rem;
      margin-left: 1.1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &--large {
      margin-top: 2.6rem;
      margin-bottom: 1.2rem;
      font-size: 1.6rem;
      font-weight: bold;
    }

    &--small {
      font-size: 0.8rem;
      margin-top: 3rem;
      color: #929495 ;
    }

    &-container  {
      background-color: rgb(23, 24, 22);
      margin-top: 2rem;
    }
  }

  &__close-button {

    &-container {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
    margin-left: auto;
    margin-right: 0.5rem;
    width: 22px;
    height: 22px;
    margin-top: 0.5rem;
  }

}